
<button mat-raised-button color="primary" (click)="goBack()">Volver</button>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{admin?.name}}</mat-card-title>
      <mat-card-subtitle>{{admin?.lastname}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" alt="Photo">
    <mat-card-content>
      <p>
        Aquí va la información sobre este administrador.
      </p>
    </mat-card-content>
  </mat-card>

