.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("../../../../../../assets/skeleton.png");
  background-size: cover;
}

button {
  margin-bottom: 2rem;
}

p{
  padding: 0.8rem;
}
