
<button mat-raised-button color="primary" (click)="goBack()">Volver</button>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{admin?.name}}</mat-card-title>
      <mat-card-subtitle>{{admin?.lastname}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../../../../assets/skeleton1.png">
    <mat-card-content>
      <mat-card-subtitle>Email: {{admin?.email}}</mat-card-subtitle>
      <mat-card-subtitle>Role: {{admin?.role}}</mat-card-subtitle>
    </mat-card-content>
  </mat-card>

