
<button mat-raised-button color="primary" class="btn-inscription" (click)="addInscription()">Realizar una inscripción</button>
<h2>Listado de inscripciones realizadas</h2>

<table mat-table [dataSource]="(inscriptions$ | async) || [] ">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef appFontsize> ID </th>
    <td mat-cell *matCellDef="let inscription"> {{inscription.id}} </td>
  </ng-container>
  <ng-container matColumnDef="user">
    <th mat-header-cell *matHeaderCellDef appFontsize> Nombre del alumno </th>
    <td mat-cell *matCellDef="let inscription"> {{ !!inscription.user ? inscription.user.name + ' ' + inscription.user.lastname : '-' }} </td>
  </ng-container>
  <ng-container matColumnDef="course">
    <th mat-header-cell *matHeaderCellDef appFontsize>Curso a realizar</th>
    <td mat-cell *matCellDef="let inscription"> {{inscription?.course?.title}} </td>
  </ng-container>
  <ng-container matColumnDef="duration">
    <th mat-header-cell *matHeaderCellDef appFontsize>Período de cursada</th>
    <td mat-cell *matCellDef="let inscription"> {{inscription?.course?.startDate | dateFormat}} - {{inscription?.course?.finalDate | dateFormat}}</td>
  </ng-container>
  <ng-container matColumnDef="options">
    <th mat-header-cell *matHeaderCellDef appFontsize>Acciones</th>
    <td mat-cell *matCellDef="let inscription">
      <button mat-raised-button color="warn" (click)="deleteInscription(inscription.id)" [disabled]="roleType !== 'admin'">Eliminar</button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
