
.container-home{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grafic-logo{
  display: flex;
  height: 55%;
}

.ctn-info-grafic{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ctn-info-grafic img{
  width: 60%;
  height: 90%;
  margin-right: -90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.ctn-logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-radius: 20%;
  margin-left: -80px;
}

@keyframes logoAnimation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.ctn-logo img{
  width: 60%;
  height: 60%;
  object-fit: none;
}

p{
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  width: 80%;
  height: 40%;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.statics{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45%;
  width: 90%;
}

.statics img{
  height: 80%;
  width: 90%;
}


@media screen and (max-width: 1230px){
  .container-home{
    height: 100%;
  }

  .ctn-info-grafic{
    width: 90%;
    height: 50%;
    margin-right: 0;
  }

  .ctn-logo{
    width: 100%;
    height: 45%;
    margin-left: 0;
  }

  .ctn-info-grafic img{
    width: 450px;
    margin-right: 0;
  }

  .grafic-logo{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .statics{
    display: none;
  }
}

@media screen and (max-width: 650px){
  .ctn-logo{
    height: 600px;
  }

  .grafic-logo{
    margin-top: 2rem;
  }

  .ctn-logo img{
    object-fit: cover;
    width: 100%;
    height: 200px;
  }

  p{
    width: 100%;
    padding: 0;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 460px){
  .ctn-info-grafic img{
    width: 100%;
  }
}
