<div class="container-home">
  <div class="grafic-logo">
    <div class="ctn-info-grafic">
      <img src="../../../../assets/statics.png">
    </div>
    <div class="ctn-logo">
      <img src='../../../../assets/logo-ng.png'>
      <p>En un mundo impulsado por la innovación y la transformación digital, nuestra misión es brindar programas y cursos de tecnología de primera clase, diseñados por expertos de la industria,
        que abarcan desde temas fundamentales hasta las últimas tendencias. </p>
    </div>
  </div>
  <div class="statics">
    <img src="../../../../assets/grafica-performance.png">
  </div>
</div>
