
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
  <ng-container matColumnDef="ID">
    <th mat-header-cell *matHeaderCellDef appFontsize>ID</th>
    <td mat-cell *matCellDef="let course" > {{course.id}} </td>
  </ng-container>

  <ng-container matColumnDef="Título">
    <th mat-header-cell *matHeaderCellDef appFontsize>Título del curso </th>
    <td mat-cell *matCellDef="let course"> {{course.title}} </td>
  </ng-container>

  <ng-container matColumnDef="Fecha de inicio">
    <th mat-header-cell *matHeaderCellDef appFontsize> Fecha de inicio </th>
    <td mat-cell *matCellDef="let course"> {{course.startDate | dateFormat}} </td>
  </ng-container>

  <ng-container matColumnDef="Fecha de culminación">
    <th mat-header-cell *matHeaderCellDef appFontsize> Fecha de culminación </th>
    <td mat-cell *matCellDef="let course"> {{course.finalDate | dateFormat}} </td>
  </ng-container>

  <ng-container matColumnDef="Opciones">
    <th mat-header-cell *matHeaderCellDef appFontsize>Opciones</th>
    <td mat-cell *matCellDef="let course">
      <button mat-raised-button color="primary" (click)="this.update.emit(course)">Editar</button>
      <button mat-raised-button color="warn" (click)="this.eliminate.emit(course.id)">Eliminar</button>
      <button mat-raised-button color="accent" [routerLink]="course.id">Ver detalle</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
