<!--<h2 class="admin-form-title-dialog"></h2>-->
<h1 mat-dialog-title>Agregar administrador</h1>
<div mat-dialog-content>
    <form class="grid" [formGroup]="formAdmin">
      <mat-form-field class="col-6">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" formControlName="name">
      </mat-form-field>

      <mat-form-field class="col-6">
        <mat-label>Apellido</mat-label>
        <input matInput type="text" formControlName="lastname">
      </mat-form-field>

      <mat-form-field class="col-6">
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName="email">
      </mat-form-field>

      <mat-form-field class="col-6">
        <mat-label>Contraseña</mat-label>
        <input matInput type="text" formControlName="password">
      </mat-form-field>
    </form>
  </div>
<div mat-dialog-actions class="p-d-flex justify-content-end">
  <button mat-raised-button color="accent" (click)="cancel()">Cancelar</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="data" (click)="save()" cdkFocusInitial>Guardar</button>
</div>
{{formAdmin.value | json}}
