<button mat-raised-button color="primary" class="btn-info-detail" routerLink="..">Volver</button>
<h2 class="info-detail-title">Detalle del curso</h2>

<mat-card class="card-detail">
  <mat-card-header class="flex flex-column justify-content-between">
    <mat-card-title>{{courseDetail?.title}}</mat-card-title>
    <mat-card-subtitle>Categoria: programación</mat-card-subtitle>
    <img mat-card-image class="image-detail" src="https://images.unsplash.com/photo-1487611459768-bd414656ea10?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80">
    <mat-card-content>
      <mat-card-subtitle>Fecha de inicio: {{courseDetail?.startDate}}</mat-card-subtitle>
      <mat-card-subtitle>Fecha de finalización: {{courseDetail?.finalDate}}</mat-card-subtitle>
    </mat-card-content>
  </mat-card-header>
</mat-card>
