.info-detail-title{
  padding-top: 1.2rem;
}

.card-detail{
  width: 400px;
}

.image-detail{
  background-image: url('https://images.unsplash.com/photo-1487611459768-bd414656ea10?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
  background-size: cover;
}

mat-card-content{
  padding: 0;
}
