<h1>Regístrate</h1>
<div class="grid">
  <form [formGroup]="user">
    <div class="col-12">
      <mat-form-field class="w-full">
        <mat-label>Nombre</mat-label>
        <input formControlName="name" matInput />
      </mat-form-field>
        <span *ngIf="(user.controls['name'].touched && user.controls['name']?.errors?.['required'])">
          <mat-error>El nombre es obligatorio</mat-error>
        </span>
        <span *ngIf="(user.controls['name'].touched && user.controls['name']?.invalid)">
          <mat-error>El nombre debe tener más de 2 letras</mat-error>
        </span>
    </div>
    <div class="col-12">
      <mat-form-field class="w-full">
        <mat-label>Apellido</mat-label>
        <input formControlName="lastname" matInput />
      </mat-form-field>
      <span *ngIf="(user.controls['lastname'].touched && user.controls['lastname']?.errors?.['required'])">
        <mat-error>El apellido es obligatorio</mat-error>
      </span>
    </div>
    <div class="col-12">
      <mat-form-field class="w-full">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput />

      </mat-form-field>
      <span *ngIf="(user.controls['email'].touched && user.controls['email']?.errors?.['required'])">
        <mat-error>El email es obligatorio</mat-error>
      </span>
      <span *ngIf="(user.controls['email'].touched && user.controls['email']?.invalid)">
        <mat-error>El email debe tener un formato válido</mat-error>
      </span>
    </div>
    <div class="col-12">
      <mat-form-field class="w-full">
        <mat-label>Contraseña</mat-label>
        <input formControlName="password" type="password" matInput />

      </mat-form-field>
      <span *ngIf="(user.controls['password'].touched && user.controls['password']?.errors?.['required'])">
        <mat-error>La contraseña es obligatoria</mat-error>
      </span>
      <span *ngIf="(user.controls['password'].touched && user.controls['password']?.invalid)">
        <mat-error>La contraseña debe tener más de 5 caracteres</mat-error>
      </span>
    </div>
    <div class="col-12 flex justify-content-center">
      <button (click)="submitForm()" mat-flat-button color="primary">Registrarse</button>
    </div>
  </form>
</div>
