form{
  width: 600px;
  height: 600px;
  // background-color: rgb(14, 13, 13, 0.7);
  background-color: #191a1d;
  padding: 0.8rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

mat-error{
  color: rgb(161, 5, 5);
}

h1{
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
  color: white;
}
