<h1 mat-dialog-title appFontsize>{{ isEditMode ? 'Actualización de alumno' : 'Agregar alumno' }}</h1>
<div mat-dialog-content>
  <div class="card">
    <form class="formgrid grid" [formGroup]="formUser">
      <div class="flex flex-column justify-content-center">
        <mat-form-field class="field col">
          <mat-label>Nombre</mat-label>
          <input matInput
                  class="text-base text-color surface-overlay p-2 appearance-none outline-none focus:border-primary w-full"
                  formControlName="name"
                  >
        </mat-form-field>
        <p>{{ getError('name')}}</p>
      </div>
      <div class="flex flex-column justify-content-center">
        <mat-form-field class="field col">
          <mat-label>Apellido</mat-label>
          <input matInput
                  class="text-base text-color surface-overlay p-2 appearance-none outline-none focus:border-primary w-full"
                  formControlName="lastname"
                  >
        </mat-form-field>
        <p>{{ getError('lastname')}}</p>
      </div>

      <div class="flex flex-column justify-content-center">
        <mat-form-field class="field col">
          <mat-label>Email</mat-label>
          <input matInput
                  class="text-base text-color surface-overlay p-2 appearance-none outline-none focus:border-primary w-full"
                  formControlName="email"
                 >
        </mat-form-field>
        <p>{{ getError('email')}}</p>
      </div>

      <div class="flex flex-column justify-content-center">
        <mat-form-field class="field col">
          <mat-label>Contraseña</mat-label>
          <input matInput
                  class="text-base text-color surface-overlay p-2 appearance-none outline-none focus:border-primary w-full"
                  formControlName="password"
                 >
        </mat-form-field>
        <p>{{ getError('password')}}</p>
      </div>

      <div class="flex flex-column justify-content-center">
        <mat-form-field class="field col">
          <mat-label>País</mat-label>
          <input matInput
                  class="text-base text-color surface-overlay p-2 appearance-none outline-none focus:border-primary w-full"
                  formControlName="country"
                >
        </mat-form-field>
        <p>{{ getError('country')}}</p>
      </div>

      <div class="flex flex-column justify-content-center">
        <mat-form-field class="field col">
          <mat-label>Teléfono</mat-label>
          <input matInput
                  class="text-base text-color surface-overlay p-2 appearance-none outline-none focus:border-primary w-full"
                  formControlName="phone"
                  >
        </mat-form-field>
        <p>{{ getError('phone')}}</p>
      </div>
    </form>
  </div>
</div>
<div mat-dialog-actions class="flex justify-content-end">
  <button mat-raised-button color="accent" mat-dialog-close (click)="cancelar()">Cancelar</button>
  <button mat-raised-button color="primary" [disabled]="formUser.invalid" (click)="agregar()">{{ isEditMode ? 'Actualizar' : 'Agregar' }}</button>
</div>







