<!--LAYOUT APP-->
<mat-drawer-container class="example-container" autosize>
  <!--SIDEBAR-->
  <mat-drawer #drawer  class="example-sidenav" mode="side">
    <mat-nav-list>
      <a routerLink="home" routerLinkActive="mat-list-item-active" mat-list-item>Inicio</a>
      <a routerLink="users" routerLinkActive="mat-list-item-active" mat-list-item>Usuarios</a>
      <a routerLink="courses" routerLinkActive="mat-list-item-active" mat-list-item>Cursos</a>
      <a routerLink="admins" routerLinkActive="mat-list-item-active" mat-list-item>Admin</a>
      <a (click)="logout()" mat-list-item>Cerrar sesion</a>
    </mat-nav-list>
  </mat-drawer>

  <!--CONTENIDO-->
  <div class="example-sidenav-content">
    <!--BARRA DE NAVEGACION-->
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
      </button>
      <span appFontsize>Tech Institute</span>
    </mat-toolbar>

    <!--PAGINAS-->
    <div class="pages">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
