<!--LAYOUT APP-->
<mat-drawer-container class="example-container" autosize>
  <!--SIDEBAR-->
  <mat-drawer #drawer  example-sidenav mode="over">
    <p>Sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button mat-raised-button color="primary" (click)="showFiller = !showFiller">
      Toggle text
    </button>
  </mat-drawer>

  <!--CONTENIDO-->
  <div class="example-sidenav-content">
    <!--BARRA DE NAVEGACION-->
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
      </button>
      <span>Mi App</span>
    </mat-toolbar>

    <!--PAGINA USUARIOS-->
    <div class="p-5">
      <app-users></app-users>
    </div>
  </div>

</mat-drawer-container>
