
<h2 mat-dialog-title>
  {{dataToEdit ? "Edita la información del curso" : "Agrega un curso"}}
</h2>
<div mat-dialog-content>
  <form [formGroup]="coursesForm" class="grid">
    <div class="field-grid">
      <label class="col-12 mb-2 md:col-2 md:mb-0">Nombre del curso</label>
      <div class="col-12 field" >
        <mat-form-field class="w-full">
          <input class="text-base text-color surface-overlay p-2 w-full h-full" matInput type="text" placeholder="Nombre" formControlName="title" required>
        </mat-form-field>
        <mat-error *ngIf="coursesForm.get('title')?.invalid">{{getErrorMessage('title')}}</mat-error>
      </div>
    </div>
    <div class="field-grid">
      <label class="col-12 mb-2 md:col-2 md:mb-0">Ingresa un rango de fechas</label>
      <div class="col-12 filed">
        <mat-form-field class="w-full">
          <mat-label>Fecha de inicio</mat-label>
          <input matInput [matDatepicker]="startDatePicker" formControlName="startDate" required>
          <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
          <mat-error *ngIf="coursesForm.get('startDate')?.touched && coursesForm.get('startDate')?.invalid">
            {{ getErrorMessage('startDate') }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Fecha de culminación</mat-label>
          <input matInput [matDatepicker]="finalDatePicker" formControlName="finalDate" required>
          <mat-datepicker-toggle matSuffix [for]="finalDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #finalDatePicker></mat-datepicker>
          <mat-error *ngIf="coursesForm.get('finalDate')?.touched && coursesForm.get('finalDate')?.invalid">
            {{ getErrorMessage('finalDate') }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
<div class="flex justify-content-end" mat-dialog-actions>
  <button mat-raised-button color="accent" mat-dialog-close>Cancelar</button>
  <button (click)="submitForm()" type="submit" mat-raised-button color="primary">
    {{dataToEdit ? "Editar" : "Agregar"}}
  </button>
</div>


