<h2 mat-dialog-title>Formato de inscripción</h2>
<div mat-dialog-content>
  <form [formGroup]="inscriptionForm">
    <mat-form-field class="w-full">
      <mat-label>Alumno</mat-label>
      <mat-select formControlName="userId">
        <mat-option [value]="alumno.id"  *ngFor="let alumno of  users$ | async">
          {{ alumno.name }} {{ alumno.lastname }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="inscriptionForm.get('userId')?.invalid">El campo es requerido</mat-error>
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Curso</mat-label>
      <mat-select formControlName="courseId" >
        <mat-option [value]="course.id"  *ngFor="let course of  courses$ | async">
          {{ course.title }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="inscriptionForm.get('courseId')?.invalid">El campo es requerido</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="justify-content-end">
  <button mat-raised-button color="warn" mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" (click)="submitInfo()" type="submit" mat-button>Guardar</button>
</div>
